/* --------------------- Welcom Screen Animation -------- */


@keyframes startTitle{
    0% {
      opacity:1;
    }
    90% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}

@-moz-keyframes startTitle{
    0% {
      opacity:1;
    }
    90% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}

@-webkit-keyframes startTitle {
    0% {
      opacity:1;
    }
    90% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}

@-o-keyframes startTitle {
    0% {
      opacity:1;
    }
    90% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}

@-ms-keyframes startTitle {
    0% {
      opacity:1;
    }
    90% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}

/* ---------------------Start Animation Down ------------ */

@keyframes startDown{
    
    0% {
      opacity:1;
      transform:  translate(-27px,-27px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      opacity:0.75;
      transform:  translate(-72px,49px)  scaleX(1.67) scaleY(1.67) ;
    }
    66% {
      opacity:0.5;
      transform:  translate(1px,110px)  scaleX(1.34) scaleY(1.34) ;
    }
    90% {
      opacity:0;
      transform:  translate(-28px,152px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }

}
  
@-moz-keyframes startDown{
    0% {
      opacity:1;
      -moz-transform:  translate(-27px,-27px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      opacity:0.75;
      -moz-transform:  translate(-72px,49px)  scaleX(1.67) scaleY(1.67) ;
    }
    66% {
      opacity:0.5;
      -moz-transform:  translate(1px,110px)  scaleX(1.34) scaleY(1.34) ;
    }
    90% {
      opacity:0;
      -moz-transform:  translate(-28px,152px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }

}
  
@-webkit-keyframes startDown {
    0% {
      opacity:1;
      -webkit-transform:  translate(-27px,-27px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      opacity:0.75;
      -webkit-transform:  translate(-72px,49px)  scaleX(1.67) scaleY(1.67) ;
    }
    66% {
      opacity:0.5;
      -webkit-transform:  translate(1px,110px)  scaleX(1.34) scaleY(1.34) ;
    }
    90% {
      opacity:0;
      -webkit-transform:  translate(-28px,152px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }

}
  
@-o-keyframes startDown {
    0% {
      opacity:1;
      -o-transform:  translate(-27px,-27px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      opacity:0.75;
      -o-transform:  translate(-72px,49px)  scaleX(1.67) scaleY(1.67) ;
    }
    66% {
      opacity:0.5;
      -o-transform:  translate(1px,110px)  scaleX(1.34) scaleY(1.34) ;
    }
    90% {
      opacity:0;
      -o-transform:  translate(-28px,152px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}
  
@-ms-keyframes startDown {
    0% {
      opacity:1;
      -ms-transform:  translate(-27px,-27px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      opacity:0.75;
      -ms-transform:  translate(-72px,49px)  scaleX(1.67) scaleY(1.67) ;
    }
    66% {
      opacity:0.5;
      -ms-transform:  translate(1px,110px)  scaleX(1.34) scaleY(1.34) ;
    }
    90% {
      opacity:0;
      -ms-transform:  translate(-28px,152px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}

/* ---------------------- Start Animation Up ---------------- */

@keyframes startUp{
    0% {
      opacity:1;
      transform:  translate(-27px,-29px)  scaleX(2.00) scaleY(2.00) ;
    }
    30% {
      transform:  translate(13px,-87px)  scaleX(1.70) scaleY(1.70) ;
    }
    60% {
      transform:  translate(-48px,-146px)  scaleX(1.40) scaleY(1.40) ;
    }
    90% {
      opacity:0;
      transform:  translate(-26px,-200px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}
  
@-moz-keyframes startUp{
    0% {
      opacity:1;
      -moz-transform:  translate(-27px,-29px)  scaleX(2.00) scaleY(2.00) ;
    }
    30% {
      -moz-transform:  translate(13px,-87px)  scaleX(1.70) scaleY(1.70) ;
    }
    60% {
      -moz-transform:  translate(-48px,-146px)  scaleX(1.40) scaleY(1.40) ;
    }
    90% {
      opacity:0;
      -moz-transform:  translate(-26px,-200px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}
  
@-webkit-keyframes startUp {
    0% {
      opacity:1;
      -webkit-transform:  translate(-27px,-29px)  scaleX(2.00) scaleY(2.00) ;
    }
    30% {
      -webkit-transform:  translate(13px,-87px)  scaleX(1.70) scaleY(1.70) ;
    }
    60% {
      -webkit-transform:  translate(-48px,-146px)  scaleX(1.40) scaleY(1.40) ;
    }
    90% {
      opacity:0;
      -webkit-transform:  translate(-26px,-200px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }

}
  
@-o-keyframes startUp {
    0% {
      opacity:1;
      -o-transform:  translate(-27px,-29px)  scaleX(2.00) scaleY(2.00) ;
    }
    30% {
      -o-transform:  translate(13px,-87px)  scaleX(1.70) scaleY(1.70) ;
    }
    60% {
      -o-transform:  translate(-48px,-146px)  scaleX(1.40) scaleY(1.40) ;
    }
    90% {
      opacity:0;
      -o-transform:  translate(-26px,-200px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}
  
@-ms-keyframes startUp {
    0% {
      opacity:1;
      -ms-transform:  translate(-27px,-29px)  scaleX(2.00) scaleY(2.00) ;
    }
    30% {
      -ms-transform:  translate(13px,-87px)  scaleX(1.70) scaleY(1.70) ;
    }
    60% {
      -ms-transform:  translate(-48px,-146px)  scaleX(1.40) scaleY(1.40) ;
    }
    90% {
      opacity:0;
      -ms-transform:  translate(-26px,-200px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}

/* --------------- Start Animation Right ------------------- */

@keyframes startRight{
    0% {
      opacity:1;
      transform:  translate(-26px,-30px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      transform:  translate(61px,6px)  scaleX(1.67) scaleY(1.67) ;
    }
    67% {
      transform:  translate(159px,-52px)  scaleX(1.33) scaleY(1.33) ;
    }
    90% {
      opacity:0;
      transform:  translate(247px,-28px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}
  
@-moz-keyframes startRight{
    0% {
      opacity:1;
      -moz-transform:  translate(-26px,-30px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      -moz-transform:  translate(61px,6px)  scaleX(1.67) scaleY(1.67) ;
    }
    67% {
      -moz-transform:  translate(159px,-52px)  scaleX(1.33) scaleY(1.33) ;
    }
    90% {
      opacity:0;
      -moz-transform:  translate(247px,-28px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}
  
@-webkit-keyframes startRight {
    0% {
      opacity:1;
      -webkit-transform:  translate(-26px,-30px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      -webkit-transform:  translate(61px,6px)  scaleX(1.67) scaleY(1.67) ;
    }
    67% {
      -webkit-transform:  translate(159px,-52px)  scaleX(1.33) scaleY(1.33) ;
    }
    90% {
      opacity:0;
      -webkit-transform:  translate(247px,-28px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}
  
@-o-keyframes startRight {
    0% {
      opacity:1;
      -o-transform:  translate(-26px,-30px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      -o-transform:  translate(61px,6px)  scaleX(1.67) scaleY(1.67) ;
    }
    67% {
      -o-transform:  translate(159px,-52px)  scaleX(1.33) scaleY(1.33) ;
    }
    90% {
      opacity:0;
      -o-transform:  translate(247px,-28px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}
  
@-ms-keyframes startRight {
    0% {
      opacity:1;
      -ms-transform:  translate(-26px,-30px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      -ms-transform:  translate(61px,6px)  scaleX(1.67) scaleY(1.67) ;
    }
    67% {
      -ms-transform:  translate(159px,-52px)  scaleX(1.33) scaleY(1.33) ;
    }
    90% {
      opacity:0;
      -ms-transform:  translate(247px,-28px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}

/* ----------------Start Animation Left -------------------- */

@keyframes startLeft{
    0% {
      opacity:1;
      transform:  translate(-27px,-26px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      transform:  translate(-128px,-4px)  scaleX(1.67) scaleY(1.67) ;
    }
    67% {
      transform:  translate(-212px,-62px)  scaleX(1.33) scaleY(1.33) ;
    }
    90% {
      opacity:0;
      transform:  translate(-300px,-34px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}
  
@-moz-keyframes startLeft{
    0% {
      opacity:1;
      -moz-transform:  translate(-27px,-26px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      -moz-transform:  translate(-128px,-4px)  scaleX(1.67) scaleY(1.67) ;
    }
    67% {
      -moz-transform:  translate(-212px,-62px)  scaleX(1.33) scaleY(1.33) ;
    }
    100% {
      opacity:0;
      -moz-transform:  translate(-300px,-34px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}
  
@-webkit-keyframes startLeft {
    0% {
      opacity:1;
      -webkit-transform:  translate(-27px,-26px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      -webkit-transform:  translate(-128px,-4px)  scaleX(1.67) scaleY(1.67) ;
    }
    67% {
      -webkit-transform:  translate(-212px,-62px)  scaleX(1.33) scaleY(1.33) ;
    }
    90% {
      opacity:0;
      -webkit-transform:  translate(-300px,-34px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}
  
@-o-keyframes startLeft {
    0% {
      opacity:1;
      -o-transform:  translate(-27px,-26px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      -o-transform:  translate(-128px,-4px)  scaleX(1.67) scaleY(1.67) ;
    }
    67% {
      -o-transform:  translate(-212px,-62px)  scaleX(1.33) scaleY(1.33) ;
    }
    90% {
      opacity:0;
      -o-transform:  translate(-300px,-34px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}
  
@-ms-keyframes startLeft {
    0% {
      opacity:1;
      -ms-transform:  translate(-27px,-26px)  scaleX(2.00) scaleY(2.00) ;
    }
    33% {
      -ms-transform:  translate(-128px,-4px)  scaleX(1.67) scaleY(1.67) ;
    }
    67% {
      -ms-transform:  translate(-212px,-62px)  scaleX(1.33) scaleY(1.33) ;
    }
    90% {
      opacity:0;
      -ms-transform:  translate(-300px,-34px)  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
      opacity:0;
    }
}  

/* --------------------- Start Deck ----------------- */

@keyframes startDeck{
    0% {
      opacity:0;
      transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      transform:  translate(30px,0px)  ;
    }
    80% {
      transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes startDeck{
    0% {
      opacity:0;
      -moz-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -moz-transform:  translate(30px,0px)  ;
    }
    80% {
      -moz-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -moz-transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes startDeck {
    0% {
      opacity:0;
      -webkit-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -webkit-transform:  translate(30px,0px)  ;
    }
    80% {
      -webkit-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -webkit-transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes startDeck {
    0% {
      opacity:0;
      -o-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -o-transform:  translate(30px,0px)  ;
    }
    80% {
      -o-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -o-transform:  translate(0px,0px)  ;
    }
}

@-ms-keyframes startDeck {
    0% {
      opacity:0;
      -ms-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -ms-transform:  translate(30px,0px)  ;
    }
    80% {
      -ms-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -ms-transform:  translate(0px,0px)  ;
    }
}

/* --------------------- Start Game ---- -------------*/


@keyframes startGame{
    0% {
      opacity:0;
      transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      transform:  translate(30px,0px)  ;
    }
    80% {
      transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes startGame{
    0% {
      opacity:0;
      -moz-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -moz-transform:  translate(30px,0px)  ;
    }
    80% {
      -moz-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -moz-transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes startGame {
    0% {
      opacity:0;
      -webkit-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -webkit-transform:  translate(30px,0px)  ;
    }
    80% {
      -webkit-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -webkit-transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes startGame {
    0% {
      opacity:0;
      -o-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -o-transform:  translate(30px,0px)  ;
    }
    80% {
      -o-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -o-transform:  translate(0px,0px)  ;
    }
}

@-ms-keyframes startGame {
    0% {
      opacity:0;
      -ms-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -ms-transform:  translate(30px,0px)  ;
    }
    80% {
      -ms-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -ms-transform:  translate(0px,0px)  ;
    }
}

/* --------------- Wrong Answer --------------------- */

@keyframes wrongAnswer{
    0% {
      transform:  translate(0px,0px)  ;
    }
    25% {
      transform:  translate(10px,0px)  ;
    }
    50% {
      transform:  translate(-10px,0px)  ;
    }
    75% {
      transform:  translate(10px,0px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes wrongAnswer{
  0% {
      transform:  translate(0px,0px)  ;
    }
    25% {
      transform:  translate(10px,0px)  ;
    }
    50% {
      transform:  translate(-10px,0px)  ;
    }
    75% {
      transform:  translate(10px,0px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes wrongAnswer {
  0% {
      transform:  translate(0px,0px)  ;
    }
    25% {
      transform:  translate(10px,0px)  ;
    }
    50% {
      transform:  translate(-10px,0px)  ;
    }
    75% {
      transform:  translate(10px,0px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes wrongAnswer {
    0% {
      transform:  translate(0px,0px)  ;
    }
    25% {
      transform:  translate(10px,0px)  ;
    }
    50% {
      transform:  translate(-10px,0px)  ;
    }
    75% {
      transform:  translate(10px,0px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
}

@-ms-keyframes wrongAnswer {
    0% {
      transform:  translate(0px,0px)  ;
    }
    25% {
      transform:  translate(10px,0px)  ;
    }
    50% {
      transform:  translate(-10px,0px)  ;
    }
    75% {
      transform:  translate(10px,0px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
}


/* ----------------------- Card Match ------------------------ */ 


@keyframes theyMatch {
    0% {
      transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
      transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
      transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
      transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
      transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
      transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
      transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
      transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
      transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
      transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
      transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
}
  
@-moz-keyframes theyMatch {
    0% {
      -moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
      -moz-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
      -moz-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
      -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
      -moz-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
      -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
      -moz-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
      -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
      -moz-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
      -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
      -moz-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
}
  
@-webkit-keyframes theyMatch {
    0% {
      -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
      -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
      -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
      -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
      -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
      -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
      -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
      -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
      -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
      -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
      -webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
}
  
@-o-keyframes theyMatch {
    0% {
      -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
      -o-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
      -o-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
      -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
      -o-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
      -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
      -o-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
      -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
      -o-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
      -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
      -o-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
}
  
@-ms-keyframes theyMatch {
    0% {
      -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
      -ms-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
      -ms-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
      -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
      -ms-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
      -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
      -ms-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
      -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
      -ms-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
      -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
      -ms-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
}

/* ------------------ Win animation -------------------- */

@keyframes winAnimation {
    0% {
      opacity:1;
      transform:  rotate(0deg) ;
    }
    100% {
      opacity:0;
      transform:  rotate(200deg) ;
    }
}
  
@-moz-keyframes winAnimation {
    0% {
      opacity:1;
      -moz-transform:  rotate(0deg) ;
    }
    100% {
      opacity:0;
      -moz-transform:  rotate(200deg) ;
    }
}
  
@-webkit-keyframes winAnimation {
    0% {
      opacity:1;
      -webkit-transform:  rotate(0deg) ;
    }
    100% {
      opacity:0;
      -webkit-transform:  rotate(200deg) ;
    }
}
  
@-o-keyframes winAnimation {
    0% {
      opacity:1;
      -o-transform:  rotate(0deg) ;
    }
    100% {
      opacity:0;
      -o-transform:  rotate(200deg) ;
    }
}
  
@-ms-keyframes winAnimation {
    0% {
      opacity:1;
      -ms-transform:  rotate(0deg) ;
    }
    100% {
      opacity:0;
      -ms-transform:  rotate(200deg) ;
    }
}


/* ------------------ Reset card ---------------------*/

@keyframes resetCard{
    0% {
      opacity:1;
      transform:  translate(0px,0px)  ;
    }
    20% {
      opacity:1;
      transform:  translate(20px,0px)  ;
    }
    100% {
      opacity:0;
      transform:  translate(-1000px,0px)  ;
    }
}
  
@-moz-keyframes resetCard{
    0% {
      opacity:1;
      -moz-transform:  translate(0px,0px)  ;
    }
    20% {
      opacity:1;
      -moz-transform:  translate(20px,0px)  ;
    }
    100% {
      opacity:0;
      -moz-transform:  translate(-1000px,0px)  ;
    }
}
  
@-webkit-keyframes resetCard {
    0% {
      opacity:1;
      -webkit-transform:  translate(0px,0px)  ;
    }
    20% {
      opacity:1;
      -webkit-transform:  translate(20px,0px)  ;
    }
    100% {
      opacity:0;
      -webkit-transform:  translate(-1000px,0px)  ;
    }
}
  
@-o-keyframes resetCard {
    0% {
      opacity:1;
      -o-transform:  translate(0px,0px)  ;
    }
    20% {
      opacity:1;
      -o-transform:  translate(20px,0px)  ;
    }
    100% {
      opacity:0;
      -o-transform:  translate(-1000px,0px)  ;
    }
}
  
@-ms-keyframes resetCard {
    0% {
      opacity:1;
      -ms-transform:  translate(0px,0px)  ;
    }
    20% {
      opacity:1;
      -ms-transform:  translate(20px,0px)  ;
    }
    100% {
      opacity:0;
      -ms-transform:  translate(-1000px,0px)  ;
    }
}



html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*, 
body, 
div, 
p, 
img, 
ul, 
li, 
h1, 
h2,  
header,
section,
.container {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;}

body,
header,
div, section,
.container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    -webkit-flex-row: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

h1, h2, h3, p, ul, li, span {
    font-family: 'Love Ya Like A Sister', 'Quicksand', sans-serif;
    font-kerning: auto;
}

body {
    background-color: #fff; 
    background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.container {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* ------------------ Start Animation -------------*/

.start-animation {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1023;
    background-color: white;
    margin: -4vw 0 0 0;
}

.symbol-box {
    width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.start-symbol {
   font-size: 20vw;
}

.start-title{
    text-align: center;
    padding: 5vw 0 5vw 0;
    z-index: 1040;
    width: 100%;
    font-size: 13vw;
    background-color: rgb(255, 255, 255);
    animation: startTitle linear 3s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: startTitle linear 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: startTitle linear 3s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: startTitle linear 3s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: startTitle linear 3s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

.start-symbol.fa-diamond,
.start-symbol.fa-bomb {
    animation: startDown linear 3s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: startDown linear 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: startDown linear 3s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: startDown linear 3s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: startDown linear 3s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;  
}

.start-symbol.fa-anchor,
.start-symbol.fa-bicycle {
    animation: startUp linear 3s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: startUp linear 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: startUp linear 34s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: startUp linear 3s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: startUp linear 3s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

.start-symbol.fa-bolt,
.start-symbol.fa-cube {
    animation: startRight linear 3s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: startRight linear 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: startRight linear 3s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: startRight linear 3s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: startRight linear 3s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
  }

.start-symbol.fa-paper-plane-o,
.start-symbol.fa-leaf {
    animation: startLeft linear 3s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: startLeft linear 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: startLeft linear 3s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: startLeft linear 3s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: startLeft linear 3s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}


/* ------------------Header ----------------------- */

header {
    justify-content: center;
    background: black;
    color: #fff;
    padding: 2vh 0 2vh 0;
}


/* ------------------- Deck ------------------------*/


.start-deck {
    height: 78vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: startDeck ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: startDeck ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: startDeck ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: startDeck ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: startDeck ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}

.motto-box{
    width: 80%;
}

.start-motto {
    width: 100%;
    line-height: 180%;
    font-size: 1.2em;
}
.spot {
  width: 30vw;
  height: 15vh;
  color: gray;
  opacity: 0.3;
  font-size: 30vh;
  position: fixed;
  top: 5vh;
  right: 0;
  z-index: 1080;
}

.spot2 {
  width: 30vw;
  height: 28vh;
  background: rgb(151, 151, 151, 0.3);
  -webkit-clip-path: polygon(38% 16%, 46% 24%, 53% 15%, 58% 6%, 64% 4%, 70% 7%, 72% 14%, 72% 23%, 70% 33%, 72% 38%, 81% 37%, 89% 32%, 96% 31%, 98% 41%, 90% 47%, 83% 51%, 77% 56%, 79% 64%, 87% 69%, 91% 76%, 92% 85%, 85% 89%, 78% 85%, 73% 76%, 65% 66%, 58% 71%, 57% 82%, 58% 91%, 49% 92%, 44% 83%, 41% 69%, 39% 59%, 30% 60%, 27% 69%, 23% 78%, 16% 81%, 9% 78%, 6% 68%, 11% 54%, 20% 45%, 26% 39%, 21% 33%, 12% 32%, 9% 22%, 8% 13%, 17% 6%, 28% 4%, 36% 5%);
  clip-path: polygon(38% 16%, 46% 24%, 53% 15%, 58% 6%, 64% 4%, 70% 7%, 72% 14%, 72% 23%, 70% 33%, 72% 38%, 81% 37%, 89% 32%, 96% 31%, 98% 41%, 90% 47%, 83% 51%, 77% 56%, 79% 64%, 87% 69%, 91% 76%, 92% 85%, 85% 89%, 78% 85%, 73% 76%, 65% 66%, 58% 71%, 57% 82%, 58% 91%, 49% 92%, 44% 83%, 41% 69%, 39% 59%, 30% 60%, 27% 69%, 23% 78%, 16% 81%, 9% 78%, 6% 68%, 11% 54%, 20% 45%, 26% 39%, 21% 33%, 12% 32%, 9% 22%, 8% 13%, 17% 6%, 28% 4%, 36% 5%);
  font-size: 25vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1090;
}
.spot3 {
  width: 10vw;
  height: 10vh;
  color: gray;
  opacity: 0.5;
  font-size: 10vh;
  position: fixed;
  bottom: 1vh;
  right: 25vw;
  z-index: 1090;
}



.start-graduate {
    widows: 100%;
    justify-content: center;
}

.fa-user-graduate {
    width: 100%;
    font-size: 35vw;
}

.start-motto-ein {
    padding: 3vw 0 3vw 0;
    color: #fff;
    background: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100vw;
    z-index: 1045;
    text-align: center;
}

.start-button {
    background: #cccccc;
    background: url(../img/light_grey.png); 
    border-radius: 2vw;
    padding: 5vw 5vw 5vw 5vw;
    display: flex;
    font-size: 2em;
    cursor: pointer;
}
.start-button:hover {
  background: #3841E8;
  background: url(../img/green.png);
}


/* ----------------- Panel ------------------------- */

.score-panel {
    text-align: left;
    width: 100%;
    margin: 4vh 0 2vh 0;
    justify-content: space-between;
    padding:  0 5vw 0 5vw ;
}

 
.stars,
.restart {
    font-size: 1.4em;
}

.moves {
    font-size: 2.2em;
    line-height: 0.8em;
}

.time-score {
   font-size: 2.2em;
   line-height: 1em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    cursor: pointer;
    width: 5vw;
}




/* ------------------ Cards ------------------------*/

.deck {
    width: 95vw;
    min-height: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.deck .card {
    height: 20vw;
    width: 20vw;
    background: #636363;
    background: url(../img/grey01.png); 
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck .card.open {
    background: #3841E8;
    background: url(../img/blue.png); 
    cursor: default;
}

.deck .card.show {
    font-size: 10vw;   
}

.deck .card.match {
    pointer-events: none;
    background: #3BEB41;
    background: url(../img/green.png); 
    font-size: 10vw;
    animation: theyMatch linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: theyMatch linear 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: theyMatch linear 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: theyMatch linear 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: theyMatch linear 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

.card.wrong {
    background: #D41D1D;
    background: url(../img/red.png); 
    animation: wrongAnswer linear 0.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: wrongAnswer linear 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: wrongAnswer linear 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: wrongAnswer linear 0.5s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: wrongAnswer linear 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

.disable-click {
    pointer-events: none;
}

.win {
    animation: winAnimation linear 2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: winAnimation linear 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: winAnimation linear 2s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: winAnimation linear 2s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: winAnimation linear 2s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

.reset-card {
    animation: resetCard ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: resetCard ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: resetCard ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: resetCard ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: resetCard ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}

.start-card {
    animation: startGame ease 0.75s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: startGame ease 0.75s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: startGame ease 0.75s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: startGame ease 0.75s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: startGame ease 0.75s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}

/* ------------------- Win message ---------------------- */

.win-message {
    height: 78vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    padding: 4vh 0 0 0;
}
.win-star01 {
  position: fixed;
  top: 12vh;
  left: 0;
  font-size: 30vh;
  color:gray;
  opacity: 0.3;
  z-index: 1100;
}
.win-star02 {
  position: fixed;
  top: 50vh;
  right: -75vw;
  font-size: 10vh;
  color:gray;
  opacity: 0.3;
  z-index: 1120;
}
.win-star03 {
  position: fixed;
  bottom: 10vh;
  left: 0;
  font-size: 10vh;
  color:gray;
  opacity: 0.3;
  z-index: 1130;
}

.win-title {
    width: 100%;
    text-align: center;
    font-size: 5vh;
    padding: 0 0 2vh 0;
}

.win-text {
    text-align: left;
    width: 40%;
    padding: 0 3vh 0 0;
}

.score-box {
    display: flex;
    min-height: 30%;
    justify-content: center;
}
.score {
    text-align: left;
    list-style-type: none;
    line-height: 180%;
    width: 40%;
}

.moves-message,
.game-time,
.star-number,
.time-score {
    font-size: 150%;
    font-weight: 700;
}
.time-score {
  font-size: 200%;
  font-weight: 500;

}

.button-container {
    width: 100%;
    justify-content: center;
}

.fa-trophy {
    font-size: 35vw;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.play-again {
    background: #cccccc;
    background: url(../img/light_grey.png); 
    border-radius: 2vw;
    padding: 5vw 5vw 5vw 5vw;
    display: flex;
    font-size: 1.8em;
    cursor: pointer;
}

.hide {
    display: none;
}


@media (min-width: 200px) and (orientation: landscape) {
  
/* Welcome screen */

    .start-deck {
        height: 63vh;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
    }

    .motto-box {
        width: 40%;
        text-align: left;
        order: 10;
    }
    .spot {
      width: 15vw;
      height: 15vh;
      color: gray;
      opacity: 0.5;
      font-size: 35vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1080;
    }
    
    .spot2 {
      width: 20vw;
      height: 20vh;
      background: rgb(151, 151, 151, 0.3);
      -webkit-clip-path: polygon(38% 16%, 46% 24%, 53% 15%, 58% 6%, 64% 4%, 70% 7%, 72% 14%, 72% 23%, 70% 33%, 72% 38%, 81% 37%, 89% 32%, 96% 31%, 98% 41%, 90% 47%, 83% 51%, 77% 56%, 79% 64%, 87% 69%, 91% 76%, 92% 85%, 85% 89%, 78% 85%, 73% 76%, 65% 66%, 58% 71%, 57% 82%, 58% 91%, 49% 92%, 44% 83%, 41% 69%, 39% 59%, 30% 60%, 27% 69%, 23% 78%, 16% 81%, 9% 78%, 6% 68%, 11% 54%, 20% 45%, 26% 39%, 21% 33%, 12% 32%, 9% 22%, 8% 13%, 17% 6%, 28% 4%, 36% 5%);
      clip-path: polygon(38% 16%, 46% 24%, 53% 15%, 58% 6%, 64% 4%, 70% 7%, 72% 14%, 72% 23%, 70% 33%, 72% 38%, 81% 37%, 89% 32%, 96% 31%, 98% 41%, 90% 47%, 83% 51%, 77% 56%, 79% 64%, 87% 69%, 91% 76%, 92% 85%, 85% 89%, 78% 85%, 73% 76%, 65% 66%, 58% 71%, 57% 82%, 58% 91%, 49% 92%, 44% 83%, 41% 69%, 39% 59%, 30% 60%, 27% 69%, 23% 78%, 16% 81%, 9% 78%, 6% 68%, 11% 54%, 20% 45%, 26% 39%, 21% 33%, 12% 32%, 9% 22%, 8% 13%, 17% 6%, 28% 4%, 36% 5%);
      font-size: 25vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1090;
    }
    .spot3 {
      width: 10vw;
      height: 10vh;
      color: gray;
      opacity: 0.3;
      font-size: 15vh;
      position: fixed;
      bottom: 2vh;
      right: 8vw;
      z-index: 1090;
    }

    .start-motto {
        width: 95%;
    }

    .start-graduate {
        width: 52%;
        order: 5;
        margin: 0 0 2vh 0;
    }

    .fa-user-graduate {
        font-size: 30vh;
    }

    .start-button {
        font-size: 1.8em;
        padding: 0.5em 0.5em 0.5em 0.5em;
    }

/* Score panel */

    .score-panel {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        color: white;
    }

    .move-panel {
        position: fixed;
        top: 4vh;
        left: 20vw;
        z-index: 1060;
    }

    .clock-panel {
      position: fixed;
      top: 4vh;
      right: 11vw;
      z-index: 1070;
    } 

/* Deck */

    .deck {
        margin: 5vw 0 0 0;
        width: 95vw;
        min-height: 60vh;
        height: 60vh;
        align-items: flex-start;
    }

    .deck .card {
        width: 11vw;
        height: 11vw;
    }

/* Cards */

    .deck .card.show {
        font-size: 8vw;
    }  

/* Win screen */
  
    .win-message {
        justify-content: center;
        height: 70vh;
    }

    .win-star01 {
      position: fixed;
      top: 18vh;
      left: 2vw;
      font-size: 35vh;
      color:gray;
      opacity: 0.2;
      z-index: 1100;
    }
    .win-star02 {
      position: fixed;
      top: 35vh;
      right: -88vw;
      font-size: 15vh;
      color:gray;
      opacity: 0.2;
      z-index: 1120;
    }
    .win-star03 {
      position: fixed;
      bottom: 12vh;
      left: 43vw;
      font-size: 25vh;
      color:gray;
      opacity: 0.2;
      z-index: 1130;
    }

    .win-title {
        width: 100%;
        text-align: left;
    }

    .win-text {
        text-align: left;
        width: 50%;
    }

    .score-box {
        width: 52%;
        display: flex;
        min-height: 45vh;
        justify-content: flex-start;
        padding: 0 0 0 5vw;
    }

    .score {
        width: 50%;
        font-size: 4vh;
    }

    .button-container {
        width: 30%;
    }

    .fa-trophy {
        font-size: 33vh;
    }

    .play-again {
        padding: 0.5em;
    }

    .start-motto-ein {
        padding: 2vh 0 2vh 0;
    }
}  



@media (min-width: 500px) and (max-width: 749px) and (orientation: portrait){

/* Start animation */

    .start-animation {
        height: 100vh;
        width: 100vw;
    }

    .symbol-box {
        height: 85%;
    }
    
    .start-symbol {
        font-size: 6em;
    }

    .start-title {
        font-size: 4em;
    }

/* Welcome screen */

    .start-motto {
        font-size: 1.4em;
    }

/* Win screen */

    .win-title {
        font-size: 2.8em;
    }

    .win-text,
    .score {
        font-size: 1.8em;
    }
}

@media (min-width: 500px) and (max-width:850px) and (orientation: landscape) {

/* Start animation */
  
    .start-symbol {
        font-size: 0.8em;
    }
  
    .start-title {
        font-size: 2em;
    }
  
/* Welcome screen */
    
    .start-motto {
        font-size: 1.4em;
    }
  
    .start-button {
        font-size: 1.8em;
        padding: 0.5em 0.5em 0.5em 0.5em;
    }
  
  /* Win screen */
  
    .win-title {
       font-size: 9vh;
       text-align: left;
    }
  
    .win-text {
       font-size: 1.2em;
    }
  
  }  
  

@media (min-width: 750px) and (max-width: 1023px) and (orientation: portrait) {

/* Start animation */

    .start-symbol {
        font-size: 9em;
    }

    .start-title {
        font-size: 5em;
    }


/* Welcome screen */

    .start-motto {
       font-size: 2em;
    }

    .start-button {
      font-size: 4em;
    }
    
/* Win screnn */

    .win-title {
        font-size: 6vh;
    }

    .win-text {
      text-align: right;
      font-size: 4vh;
    }

    .score {
        font-size: 3vh;
    }

}

@media (min-width: 851px) and (max-width: 1023px) and (orientation: landscape) {

/* Start animation */
  
    .start-symbol {
        font-size: 5em;
    }
  
    .start-title {
        font-size: 3em;
    }
  
/* Wilcome panel */
    
    .start-motto {
        font-size: 2em;
    }
  
    .start-button {
        font-size: 2em;
        padding: 0.5em 0.5em 0.5em 0.5em;
    }

/* Win screen */

    .win-title {
        font-size: 3em;
    }

    .win-text {
        font-size: 5vh;
    }

    .play-again {
        font-size: 2em;
        padding: 1em 0.5em;
    }

} 

@media (min-width: 1024px) and (orientation: portrait) {

/* Start animation */

    .start-symbol {
        font-size: 9em;
    }

    .start-title {
        font-size: 7em;
    }

/* Wilcome panel */
  
    .start-motto {
        font-size: 3em;
    }
  
    .start-button {
        font-size: 4em;
        padding: 1.6em 1em 1.6em 1em;
    }

/* Win screen */

    .win-message {
        height: 80vh;
    }

    .win-title {
        font-size: 4.8em;
    }

    .win-text {
        font-size: 2.8em;
    }

    .fa-trophy {
        font-size: 16em;
    }

    .score {
      font-size: 2vh;
    }

    .play-again {
        padding: 1em 0.5em 1em 0.5em;
        font-size: 5em;
    }
/* Footer */ 
  
    .start-motto-ein {
        padding: 1vw 0 1vw 0; 
    }


}  




@media (min-width: 1024px) and (orientation: landscape) {

/* Removing fixed postition of score panel */

    .container {
        height: 100%;
    }

    .score-panel,
    .move-panel,
    .clock-panel {
        position: relative;
    }

    .score-panel {
        color: black;
    }

    .move-panel {
        color: black;
        top: 0;
        left: 0;
    }
    .clock-panel {
      color: black;
      top: 0;
      left: 0;
    }

  
/* Start animation */
  
    .start-symbol {
        font-size: 6em;
    }
  
    .start-title {
        font-size: 6em;
        padding: 0.5em;
    }
  
/* Wilcome panel */

    .start-deck {
        width: 1020px;
        height: 80vh;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    
    .motto-box {
        width: 100%;
        order: 5;
    }
    
    .start-motto {
        font-size: 2em;
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .start-graduate {
        width: 50%;
        order: 10;
    }
    .fa-user-graduate {
      font-size: 22vh;
    }
  
    .start-button {
        font-size: 3em;
        padding: 6vh;
    }

/* Win screen */
  
    .win-message {
        width: 1020px;
        height: 80vh;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
    }

    .score-box {
        width: 50%;
    }

    .win-title {
        font-size: 6vh;
    }

    .win-text {
        font-size: 5vh;
    }

    .fa-trophy {
        font-size: 16em;
    }

    .score {
      font-size: 3vh;
    }

    .play-again {
        font-size: 3em;
        padding: 1em 0.5em;
    }

/* Footer */ 
  
    .start-motto-ein {
        padding: 1vw 0 1vw 0; 
    }
}  

@media (min-width: 1336px) and (orientation: landscape) {

/* Win screen */

    .win-title {
        font-size: 5vh;
    }
    .score-box {
        padding: 0;
    }
  

}
