html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*, 
body, 
div, 
p, 
img, 
ul, 
li, 
h1, 
h2,  
header,
section {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;}

body,
header,
div, section {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    -webkit-flex-row: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

header {
    width: 100vw;
    justify-content: center;
    margin: 5vw 0 3vw 0;
}


h1 {
    font-family: 'Open Sans', sans-serif;  
    font-size: 1.6em;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 95vw;
    min-height: 95vw;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.deck .card {
    height: 20vw;
    width: 20vw;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}



/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 100vw;
    margin-bottom: 10px;
    justify-content: space-between;
    padding:  0 2.5vw 0 2.5vw ;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    width: 10vw;
}
